#message{
  @apply text-5xl h-full max-w-screen-md
}
#message::after{
  content:'And for that we would like to say thank you';

  animation: ThankYouStart 30s ease-in;
}
@keyframes ThankYouStart{
  0%{
    content:'I have 2 words for the blueprint organizers';
    opacity: 0;
    transform: scale(10%);
  }
  5%{
    opacity: 1;
  }
  10%{
    opacity: 0;
  }
  15%{
    content:'Thank you';
    opacity: 1;
  }
  20%{
    opacity: 0;
  }
  23%{
    content:'Thank you for organizing such a fun event!';
    opacity: 1;
  }
  24%{
    opacity: 0;
  }
  25%{
    content:'Here are some messages from us!';
    opacity: 0;
  }
  30%{
    opacity: 1;
  }
  35%{
    opacity: 0;
  }
  40%{
    opacity: 0;
  }
  85%{
    opacity: 0;
  }
  90%{
    opacity: 1;
    content:'We know you all went through hell to make sure we had a great time';
  }
  95%{
    opacity: 0;
  }
  96%{
    opacity: 0;
  }
  100%{
    content:'And for that we would like to say thank you';
    opacity:1;
  }
}